.aboutSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.aboutSection h1{
    margin-bottom: 50px;
}
.aboutParagraphs {
    display: flex;
}

.singleAbout {
    margin: 0 1em;
}
.splashHeader {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2px;
    border-bottom: 0.1px solid black;
    height: 60px;
}
.splashNav {
    display: flex;
    margin-right: 1em;
    align-items: center;
    margin-bottom: 0;
    height: 100%;
}
li {
    list-style-type: none;
    
}

.splashTitle {
    margin-left: 20px;
    margin-bottom: 0;
}

.navLinks a{
    color: grey;
}
.navLinks a:hover {
    color: #2fb32f;
}
.navLinks{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    margin-bottom:0;
    margin-right:10px;
    padding-left: 0;
    width: 200px;
}
.carousel-item img{
    height: auto;
    margin-bottom: 70px;
}
nav{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.navLogo {
    width: 50px;
    height: 50px;
    padding: 0;
    border: solid green 2px;
    margin: 10px;
}
.imageAndLogo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.searchbar {
    margin-right: 3em;
    margin-top: 0.5em;
    
}
input {
    width: 20em;
}
.cityList{
    display: flex;
    flex-direction: column;
    text-align: center;
    /* margin-top: 100px; */
}
.userProfileImage {
    width: 100px;
    height: 100px;
    margin-right: 4em;
}
.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 74.5vh;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    background-color: green
}
.footer p{
    color: white;
}

.splashTitle {
    text-decoration: none;
    color: #ffffff;

}